# Ignore node_modules for both client and server
/backend/node_modules/
/frontend/node_modules/

# Ignore .env files for both client and server
/backend/.env
/frontend/.env
test
# /backend/passport.js

